In [1]:
import numpy as np
import pandas as pd

In [2]:
q9a_data=pd.read_csv('Q9_a.csv')
q9a_data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [4]:
q9a_data['speed'].kurtosis()

-0.5089944204057617

In [6]:
q9a_data['speed'].skew()

-0.11750986144663393

In [7]:
q9a_data['dist'].kurtosis()

0.4050525816795765

In [9]:
q9a_data['dist'].skew()

0.8068949601674215

In [10]:
q9b_data=pd.read_csv('Q9_b.csv')
q9b_data.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [13]:
q9b_data['SP'].kurtosis()

2.9773289437871835

In [14]:
q9b_data['SP'].skew()

1.6114501961773586

In [15]:
q9b_data['WT'].kurtosis()

0.9502914910300326

In [16]:
q9b_data['WT'].skew()

-0.6147533255357768