In [1]:
import pandas as pd

In [2]:
footfalls=pd.read_csv('footfalls.csv')
footfalls

,Month,Footfalls,t,log_footfalls,t_square,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Jan-91,1709,1,7.443664,1,1,0,0,0,0,0,0,0,0,0,0,0
1,Feb-91,1621,2,7.390799,4,0,1,0,0,0,0,0,0,0,0,0,0
2,Mar-91,1973,3,7.587311,9,0,0,1,0,0,0,0,0,0,0,0,0
3,Apr-91,1812,4,7.502186,16,0,0,0,1,0,0,0,0,0,0,0,0
4,May-91,1975,5,7.588324,25,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Nov-03,2076,155,7.638198,24025,0,0,0,0,0,0,0,0,0,0,1,0
155,Dec-03,2141,156,7.669028,24336,0,0,0,0,0,0,0,0,0,0,0,1
156,Jan-04,1832,157,7.513164,24649,1,0,0,0,0,0,0,0,0,0,0,0
157,Feb-04,1838,158,7.516433,24964,0,1,0,0,0,0,0,0,0,0,0,0
158,Mar-04,2132,159,7.664816,25281,0,0,1,0,0,0,0,0,0,0,0,0

In [6]:
Train=footfalls[0:-12]
Test=footfalls[-11:]

In [5]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [10]:
sep_model=SimpleExpSmoothing(Train['Footfalls']).fit()

In [14]:
sep_pred=sep_model.predict(start = Test.index[0],end = Test.index[-1])
sep_pred

148    1920.467863
149    1920.467863
150    1920.467863
151    1920.467863
152    1920.467863
153    1920.467863
154    1920.467863
155    1920.467863
156    1920.467863
157    1920.467863
158    1920.467863
dtype: float64

In [16]:
import numpy as np

In [22]:
rmse_sep=np.sqrt(np.mean((np.array(Test['Footfalls'])-np.array(sep_model.predict(start = Test.index[0],end = Test.index[-1])))**2))
rmse_sep

192.18413360382343

In [18]:
from statsmodels.tsa.holtwinters import Holt

In [19]:
holt_model=Holt(Train['Footfalls']).fit()

In [20]:
holt_pred=holt_model.predict(start = Test.index[0],end = Test.index[-1])
holt_pred

148    1948.613462
149    1950.315440
150    1952.017419
151    1953.719397
152    1955.421376
153    1957.123355
154    1958.825333
155    1960.527312
156    1962.229290
157    1963.931269
158    1965.633247
dtype: float64

In [23]:
rmse_holt=np.sqrt(np.mean((np.array(Test['Footfalls'])-np.array(holt_model.predict(start = Test.index[0],end = Test.index[-1])))**2))
rmse_holt

168.67044106473867

In [24]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [25]:
hwe_model_add_add = ExponentialSmoothing(Train["Footfalls"],seasonal="add",trend="add",seasonal_periods=12).fit() #add the trend to the model
pred_hwe_add_add = hwe_model_add_add.predict(start = Test.index[0],end = Test.index[-1])

In [26]:
rmse_hwe_model_add_add=np.sqrt(np.mean((np.array(Test['Footfalls'])-np.array(hwe_model_add_add.predict(start = Test.index[0],end = Test.index[-1])))**2))
rmse_hwe_model_add_add

49.70217149539628

In [27]:
hwe_model_mul_add = ExponentialSmoothing(Train["Footfalls"],seasonal="mul",trend="add",seasonal_periods=12).fit() 
pred_hwe_mul_add = hwe_model_mul_add.predict(start = Test.index[0],end = Test.index[-1])

In [28]:
rmse_hwe_model_mul_add=np.sqrt(np.mean((np.array(Test['Footfalls'])-np.array(hwe_model_mul_add.predict(start = Test.index[0],end = Test.index[-1])))**2))
rmse_hwe_model_mul_add

69.45360138909086

### Final Model

In [29]:
hwe_model_add_add = ExponentialSmoothing(footfalls["Footfalls"],seasonal="add",trend="add",seasonal_periods=12).fit()

In [31]:
forecast_hwe_model_add_add=hwe_model_add_add.forecast(10)
forecast_hwe_model_add_add

159    2153.270022
160    2180.806271
161    2155.360593
162    2244.062090
163    2274.339502
164    1965.419562
165    2125.253616
166    2106.353304
167    2152.544112
168    1903.654840
dtype: float64