In [31]:
import pandas as pd
from scipy import stats
import numpy as np

In [32]:
Customer_order_form=pd.read_csv('Costomer+OrderForm.csv')
Customer_order_form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
v=Customer_order_form.groupby('Phillippines')
v

In [34]:
v.groups

{'Defective': [10, 19, 23, 33, 39, 41, 44, 47, 59, 71, 77, 78, 82, 83, 89, 98, 101, 102, 103, 117, 128, 142, 165, 167, 185, 222, 224, 289, 291], 'Error Free': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 79, 80, 81, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 118, 119, ...]}

In [35]:
v.get_group('Defective')['Phillippines'].count()

29

In [36]:
Customer_order_form.groupby('Phillippines').get_group('Defective')['Phillippines'].count()

29

In [37]:
Customer_order_form.groupby('Indonesia').get_group('Defective')['Indonesia'].count()

33

In [38]:
Customer_order_form.groupby('Malta').get_group('Defective')['Malta'].count()

31

In [39]:
Customer_order_form.groupby('India').get_group('Defective')['India'].count()

20

In [40]:
n=300
p1=29/300
p2=33/300
p3=31/300
p4=20/300

In [41]:
population1=np.random.binomial(1,p1,n)
population2=np.random.binomial(1,p2,n)
population3=np.random.binomial(1,p3,n)
population4=np.random.binomial(1,p4,n)

In [42]:
stats.f_oneway(population1,population2,population3,population4)

F_onewayResult(statistic=3.969790263613623, pvalue=0.00789522034687413)

### Since p-value <0.05, we reject null hypothesis, i.e. there is significant difference in defectives across all centres