In [5]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [6]:
stats.norm.ppf(0.975)

1.959963984540054

In [7]:
stats.t.ppf(0.975,df=139)

1.977177724476122

In [8]:
stats.t.cdf(1.977,139)

0.9749898429616175

In [9]:
stats.norm.cdf(2.2,4,3)

0.2742531177500736

In [10]:
data=pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])

In [11]:
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [12]:
scipy.stats.ttest_1samp(data,0.3)

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [13]:
Control=pd.Series([91,87,99,77,88,91])
Treat=pd.Series([101,110,103,93,99,104])

In [14]:
stats.ttest_ind(Control,Treat)

Ttest_indResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803)

In [15]:
import seaborn as sns

In [16]:
v=sns.load_dataset('iris')

In [17]:
v

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [20]:
stats.f_oneway(v.iloc[:,0],v.iloc[:,1],v.iloc[:,2],v.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)