In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv('iris (1).csv')
iris

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [3]:
iris_encoded=pd.get_dummies(iris)
iris_encoded

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,1,5.1,3.5,1.4,0.2,1,0,0
1,2,4.9,3.0,1.4,0.2,1,0,0
2,3,4.7,3.2,1.3,0.2,1,0,0
3,4,4.6,3.1,1.5,0.2,1,0,0
4,5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0,0,1
146,147,6.3,2.5,5.0,1.9,0,0,1
147,148,6.5,3.0,5.2,2.0,0,0,1
148,149,6.2,3.4,5.4,2.3,0,0,1
149,150,5.9,3.0,5.1,1.8,0,0,1

In [4]:
from sklearn.ensemble import IsolationForest

In [5]:
isolationforest=IsolationForest(random_state=11, contamination=0.01)
isolationforest.fit(iris_encoded)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=11)

In [6]:
iris_outliers=isolationforest.predict(iris_encoded)
iris_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [8]:
iris_scores=isolationforest.decision_function(iris_encoded)
iris_scores

array([ 0.11699089,  0.11810837,  0.1132125 ,  0.11083353,  0.14137505,
        0.0422898 ,  0.09834201,  0.16275742,  0.08149346,  0.10797749,
        0.13175356,  0.14744354,  0.10800004,  0.0277755 ,  0.03809448,
        0.00854342,  0.09229775,  0.15990513,  0.07413958,  0.14248875,
        0.13366298,  0.13046804,  0.08279041,  0.07221821,  0.09591762,
        0.15420322,  0.14312256,  0.18165867,  0.17895029,  0.15332624,
        0.15400124,  0.11808943,  0.07983854,  0.0671617 ,  0.16948856,
        0.13485112,  0.13147812,  0.11688384,  0.11616105,  0.17735331,
        0.14615318,  0.02344245,  0.11450093,  0.06675951,  0.0596146 ,
        0.09920024,  0.12537092,  0.12018789,  0.11217968,  0.13071397,
        0.0677805 ,  0.11760263,  0.09044794,  0.09879232,  0.13407756,
        0.12806779,  0.09326564,  0.03015516,  0.12405905,  0.08982797,
        0.02127323,  0.13671297,  0.07107208,  0.1544544 ,  0.10678398,
        0.1265106 ,  0.14268859,  0.11248039,  0.08863132,  0.11459148,
        0.06594259,  0.14168173,  0.10456921,  0.12835222,  0.14545883,
        0.14402103,  0.12028687,  0.07013547,  0.16457471,  0.09671888,
        0.12309232,  0.11037092,  0.14554826,  0.08354631,  0.12453413,
        0.10503687,  0.12055403,  0.10827393,  0.15623464,  0.13577454,
        0.13242695,  0.14186728,  0.14548447,  0.03635575,  0.14763565,
        0.12939223,  0.1475376 ,  0.12392646,  0.00160373,  0.12202286,
        0.05576137,  0.12054353,  0.12229773,  0.14440284,  0.13222612,
        0.0697925 , -0.00154084,  0.09404053,  0.0914681 ,  0.03211596,
        0.13080444,  0.14573165,  0.15480578,  0.09469492,  0.10480681,
        0.13379399,  0.15665716,  0.02964954,  0.01384048,  0.04131591,
        0.14395327,  0.11147728,  0.07375712,  0.14468602,  0.14120053,
        0.11160756,  0.1494709 ,  0.14888871,  0.15886684,  0.09590321,
        0.11065742, -0.00873048,  0.15327726,  0.10550487,  0.05461134,
        0.07713699,  0.10478599,  0.14648703,  0.12866121,  0.13168751,
        0.13473172,  0.11636791,  0.11702363,  0.12315201,  0.08518136,
        0.11556741,  0.08381192,  0.1277676 ,  0.07411622,  0.09701472])

In [9]:
iris['Anamoly']=iris_outliers
iris['Scores']=iris_scores
iris

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Anamoly,Scores
0,1,5.1,3.5,1.4,0.2,setosa,1,0.116991
1,2,4.9,3.0,1.4,0.2,setosa,1,0.118108
2,3,4.7,3.2,1.3,0.2,setosa,1,0.113213
3,4,4.6,3.1,1.5,0.2,setosa,1,0.110834
4,5,5.0,3.6,1.4,0.2,setosa,1,0.141375
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica,1,0.115567
146,147,6.3,2.5,5.0,1.9,virginica,1,0.083812
147,148,6.5,3.0,5.2,2.0,virginica,1,0.127768
148,149,6.2,3.4,5.4,2.3,virginica,1,0.074116
149,150,5.9,3.0,5.1,1.8,virginica,1,0.097015