In [1]:
from sklearn.ensemble import IsolationForest
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/Administrator/Downloads/iris.csv",index_col=0)

In [3]:
data_encoded=pd.get_dummies(data)

In [4]:
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [5]:
isof=IsolationForest(random_state=10,contamination=0.02)
isof.fit(data_encoded)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.02, random_state=10)

In [6]:
y_outliers=isof.predict(data_encoded)

In [7]:
y_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [8]:
data_encoded['Scores']=isof.decision_function(data_encoded)

In [9]:
data_encoded['Anomaly']=isof.predict(data_encoded.iloc[:,0:7])

In [10]:
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,Anomaly
1,5.1,3.5,1.4,0.2,1,0,0,0.200042,1
2,4.9,3.0,1.4,0.2,1,0,0,0.179758,1
3,4.7,3.2,1.3,0.2,1,0,0,0.166166,1
4,4.6,3.1,1.5,0.2,1,0,0,0.165341,1
5,5.0,3.6,1.4,0.2,1,0,0,0.195153,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.144379,1
147,6.3,2.5,5.0,1.9,0,0,1,0.115329,1
148,6.5,3.0,5.2,2.0,0,0,1,0.164180,1
149,6.2,3.4,5.4,2.3,0,0,1,0.094605,1
150,5.9,3.0,5.1,1.8,0,0,1,0.156494,1

In [11]:
data_encoded[data_encoded["Anomaly"]==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,Anomaly
14,4.3,3.0,1.1,0.1,1,0,0,-0.001566,-1
107,4.9,2.5,4.5,1.7,0,0,1,-0.013444,-1
119,7.7,2.6,6.9,2.3,0,0,1,-0.010961,-1