In [1]:
import pandas as pd

In [2]:
v=pd.read_csv('C:/Users/Administrator/Downloads/NewspaperData.csv')

In [3]:
v.head()

            Newspaper    daily   sunday
0       Baltimore Sun  391.952  488.506
1        Boston Globe  516.981  798.298
2       Boston Herald  355.628  235.084
3  Charlotte Observer  238.555  299.451
4   Chicago Sun Times  537.780  559.093

In [4]:
v.corr()

           daily    sunday
daily   1.000000  0.958154
sunday  0.958154  1.000000

In [5]:
import statsmodels.formula.api as smf

In [6]:
model=smf.ols("sunday~daily",data=v).fit()

In [7]:
model.params

Intercept    13.835630
daily         1.339715
dtype: float64

In [8]:
model.rsquared

0.9180596895873294

In [9]:
model.tvalues

Intercept     0.386427
daily        18.934840
dtype: float64

In [10]:
model.pvalues

Intercept    7.017382e-01
daily        6.016802e-19
dtype: float64

In [11]:
newdata=pd.Series([200,300,400,450,600])

In [17]:
data_pred=pd.DataFrame(newdata,columns=['daily'])

In [18]:
model.predict(data_pred)

0    281.778581
1    415.750057
2    549.721533
3    616.707271
4    817.664485
dtype: float64