In [1]:
import urllib.request

In [3]:
urllib.request.urlretrieve('https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv',
                        'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x1fb5d83ae50>)

In [4]:
import pandas as pd

In [6]:
covid_data=pd.read_csv('italy-covid-daywise.csv')

In [7]:
covid_data.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [8]:
covid_data['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [9]:
covid_data['new_cases'][245]

996.0

In [10]:
covid_data.at[243,'new_cases']

1444.0

In [12]:
covid_data.loc[243,'new_cases']

1444.0

## .at and .loc are almost same

In [18]:
covid_data.new_tests.first_valid_index()

111

In [25]:
covid_data.loc[[111]]

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0

In [ ]:
covid_data.sample()