In [3]:
import pandas as pd

In [4]:
covid_data=pd.read_csv('italy-covid-daywise.csv')

In [5]:
covid_data

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [7]:
total_cases=covid_data.new_cases.sum()
total_deaths=covid_data.new_deaths.sum()

In [8]:
print('The number of reported cases is {} and the number of reported deaths is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported deaths is 35497.

In [9]:
death_rate = covid_data.new_deaths.sum() / covid_data.new_cases.sum()

In [10]:
print("The overall reported death rate in Italy is {:.2f} %.".format(death_rate*100))

The overall reported death rate in Italy is 13.07 %.

In [11]:
initial_tests = 935310
total_tests = initial_tests + covid_data.new_tests.sum()

In [12]:
positive_rate = total_cases / total_tests

In [13]:
print('{:.2f}% of tests in Italy led to a positive diagnosis.'.format(positive_rate*100))

5.21% of tests in Italy led to a positive diagnosis.