In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
data.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [4]:
import statsmodels.formula.api as smf

In [10]:
model=smf.ols('Salary~YearsExperience',data=data).fit()

In [11]:
model.pvalues

Intercept          5.511950e-12
YearsExperience    1.143068e-20
dtype: float64

In [12]:
model.tvalues

Intercept          11.346940
YearsExperience    24.950094
dtype: float64

In [13]:
new_data=pd.Series([15,8,2,3,25])

In [14]:
data_pred=pd.DataFrame(new_data,columns=['YearsExperience'])

In [15]:
model.predict(data_pred)

0    167541.635020
1    101391.898770
2     44692.124842
3     54142.087163
4    262041.258235
dtype: float64