In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('delivery_time.csv')
data.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [4]:
data.corr()

               Delivery Time  Sorting Time
Delivery Time       1.000000      0.825997
Sorting Time        0.825997      1.000000

In [7]:
data.rename(columns={'Delivery Time': 'DT', 'Sorting Time': 'ST'}, inplace=True)

In [10]:
data.head()

      DT  ST
0  21.00  10
1  13.50   4
2  19.75   6
3  24.00   9
4  29.00  10

In [8]:
import statsmodels.formula.api as smf

In [9]:
model=smf.ols('DT~ST',data=data).fit()

In [11]:
model.pvalues

Intercept    0.001147
ST           0.000004
dtype: float64

In [12]:
model.tvalues

Intercept    3.823349
ST           6.387447
dtype: float64

In [13]:
new_data=pd.Series([15,11,12,20,32])

In [15]:
data_pred=pd.DataFrame(new_data,columns=['ST'])

In [16]:
model.predict(data_pred)

0    31.318032
1    24.721953
2    26.370973
3    39.563132
4    59.351371
dtype: float64